<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6730.0" initialized="True">
	<connectionStrings>
		<add connectionString="data source=.\SQLEXPRESS;UID=sa;PWD=123qwe;initial catalog=JobListing" name="Sitefinity" />
	</connectionStrings>
</dataConfig>