<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6730.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="6B98C92D03671F3BCEC82FD5357D8C29E68A6CDBF63A13728280224DFAA89BD30B6E0B8029EA7F8EF0E012B6311C5CA76853A4EF3EC1E6D34380F7F078828E8E" decryptionKey="8562BDA548662F1FAD6F1C3FEA5FD5E4AC0B027FB869C313109502670FA39AB0" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="4DBAE08D866CF0156DBAEA304A4854D36131207DC055A3CFCEEDBAC60EB619B8" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="4DBAE08D866CF0156DBAEA304A4854D36131207DC055A3CFCEEDBAC60EB619B8" realm="http://localhost" />
	</relyingParties>
</securityConfig>